body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    /* color: initial; */
    max-width: 700px;
    /* margin: 100px auto; */
    /* padding: auto 2px; */
    /* padding-left: 10px; */
    border-radius: 5px;
    /* color: red; */
    /* padding: 0px; */
    padding: 5px;
    /* border: 2px solid black; */
    background-color: red;  
}

.table{
    margin: 0;
    padding: 0;
    /* margin: 5px; */
}

.bg-free-color{
    background-color: #bbd9a3;
}

.form-select{
    width: 25%;
    /* margin: 10px auto; */
    border: 2px solid;
}


.highlight{
    background-color: #ced4da;
}

.hide {
    display: none;
}